.container {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
}

.image {

}
.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	padding: 50px 100px;
  border-radius: 30%;
}

.avatar {
	border-radius: 50%;
	border: 1px solid #7367d8; 
}

.userInfo {
  color: #323B54;
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	color: #7367d8;
}

.label {
	font-size: 14px;
}
